@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
* {
  box-sizing: border-box;
  font-family: Raleway;
  color: #777;
}

html, body {
  margin: 0;
  padding: 0;
  background-color:  #e6e6e6;

}

.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: .5em;
  color: white;
  text-decoration: none;
}

.main-nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
  border-bottom: 1px solid white;
}

.main-nav li {
  padding: 0 5%;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, .3)
}

.main-header{
  background-color: rgba(0,0,0,0.6);
  background-image: url('Images/Header\ Background.jpg');
  background-blend-mode: multiply;
  background-size: cover;
  padding-bottom: 30px;
}

.band-name {
  text-align: center;
  margin: 0;
  font-size: 3em;
  font-family: Ranchers;
  color: white;
  font-weight: normal;
}

.band-name-large {
  font-size: 6em;
}

.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}

.section-header{
  color: #333;
  text-align: center;
  font-family: Ranchers;
  font-weight: normal;
  font-size: 3em;
}

.about-band-image {
  float:left;
  border-radius: 50%;
  width: 250px;
  margin: 15px;
}

.main-footer {
  background-color: #56CCF2;
  color: white;
  padding: .25em 0;
}

.main-footer-container{
  display: flex;
  align-items: center;
  
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}

.footer-nav li{
  padding: 0 .5em;
}

.footer-nav img{
  width: 50px;
}